-
  var menuList = [
    {
      url: '#news',
      labelTw: '最新消息',
      labelEng: 'Latest News',
    },
    {
      url: '#about',
      labelTw: '關於我們',
      labelEng: 'About Us',
    },
    {
      url: '#photo',
      labelTw: '相片集',
      labelEng: 'Photo Book',
    },
    {
      url: '#video',
      labelTw: '影音專區',
      labelEng: 'Video Records',
    },
    {
      url: '#contact',
      labelTw: '聯絡我們',
      labelEng: 'Contact Us',
    },
  ]